In [ ]:
# Tuples are ordered sequence, immutatble ,elements separated by a comma within () with str, numbers of int anloat

In [3]:
Ratings=(2,3,4,5,6,7,9,1,0,8) # variables separated by a comma within () paranthesis
type(Ratings)

tuple

In [5]:
Tuple1=("Elena is cute", 9, 93.5)  # varaibles inside a tuple could be str, int and float but type of it is still tuple
type(Tuple1)

tuple

In [6]:
Tuple1[0] # first index of the element

'Elena is cute'

In [7]:
Tuple1[-1] # negative index

93.5

In [9]:
# concatenate or combine tuples by using +
Tuple2= Tuple1+("hello world", 11)
print(Tuple2)

('Elena is cute', 9, 93.5, 'hello world', 11)

In [13]:
# Slicing using semicolon separated two indices 
Tuple1[0:3]  # access to varaibles from index o to index 2

('Elena is cute', 9, 93.5)

In [16]:
Tuple2[2:5] # access to elements from index 2 to index 4

(93.5, 'hello world', 11)

In [17]:
# find the length of a tuple use len()
len(Tuple1)

3

In [18]:
len(Tuple2)

5

In [19]:
# Tuple is immutable i.e unchangable if you need to change the tuple you need to use functions as sorted
Tuple1[2]= 5

TypeError: 'tuple' object does not support item assignment

In [26]:
A=sorted((10,5,3,5,2,6,8)) # can't sort str and int
print(A)

[2, 3, 5, 5, 6, 8, 10]

In [2]:
# Nesting  i.e  NT meaning there is sutuple within a tuple

NT=( ("ELena is cute",(4,5,6,("hello",9)),6), ( 2,3,4), 10, " Fine", 3.5)
NT[1]  # access to the 2nd element in the tuple NT

(2, 3, 4)

In [3]:
NT[1][2]  # Access to the 3rd element of the 2nd element in the tuple NT

4

In [4]:
# Can visualize the tuple nesting  as a tree NT->NT[]->NT[][]->NT[][][]
NT[0][1][1]  # NT[0]= ("ELena is cute",(4,5,6,("hello",9)),6), NT[0][1]=(4,5,6,("hello",9)), NT[0][1][1]=5

5

In [5]:
NT[0][2][1]

TypeError: 'int' object is not subscriptable

In [6]:
NT[0][1][3]

('hello', 9)

In [7]:
NT[0][1][3][1]  # 4 tuple nestings

9

In [8]:
NT[-1]  # Can access with index -1 counting from the last element

3.5

In [11]:
len(NT)

5

In [14]:
NT[4] # 5th index

3.5