In [ ]:
# List is also an ordered sequence separented by comma within a square bracket [] similar to an array
# List L is mmutable
# A list contains tuple ,str, int and float and a nesting list 
# An element of the list can be accessed by index

In [2]:
List1=[2.5, "Hello", ( 2,3,4), [1,2,3],5] # A list contains tuple ,str, int and float and a nesting list 
print(List1)

[2.5, 'Hello', (2, 3, 4), [1, 2, 3], 5]

In [3]:
type(List1)

list

In [4]:
len(List1)

5

In [5]:
# Concatenate or combine list by using +
List2=[7,3.6]
L3=List1+List2
print(L3)

[2.5, 'Hello', (2, 3, 4), [1, 2, 3], 5, 7, 3.6]

In [6]:
# Access the elements by using the index
L3[3]

[1, 2, 3]

In [7]:
L3[-2] # could be negative index counting from back

7

In [10]:
L3[-6]  # accessing elements from the back -1(3.6)...-6(Hello)

'Hello'

In [11]:
# Slicing
L3[:2]  # find the first two elements

[2.5, 'Hello']

In [12]:
L3[2:] # Find the elements from the 3rd all the way to the last one

[(2, 3, 4), [1, 2, 3], 5, 7, 3.6]

In [13]:
L3[1:4] # Access to the elements from the 2nd to the 4th

['Hello', (2, 3, 4), [1, 2, 3]]

In [1]:
# List L is mmutable  so we can add an element by using .extend and .append to change the list
L= [2,3,5]
L.extend(["Hello", 6]) # add two elements to the array using L.extend
print(L)

[2, 3, 5, 'Hello', 6]

In [2]:
L.append(["Wow", 7])  # Add one element to the array
print(L)

[2, 3, 5, 'Hello', 6, ['Wow', 7]]

In [5]:
L= [2,3,5]
L.append(['a','b'])  # only  add one element to the list since it is another array using L.append
print(L)

[2, 3, 5, ['a', 'b']]

In [25]:
# Change an element by using index
L[2]=8 # change the 3rd varaible from 5 to 8
print(L)

[2, 3, 8, 'Hello', 6, ['Wow', 7]]

In [26]:
# Delete an element by del(L[]) using index for the varaible
del(L[0]) # delete first varaible 2 from the list 
print (L)

[3, 8, 'Hello', 6, ['Wow', 7]]

In [27]:
del(L[3]) # remove the 4th element  6 from the list L
print (L)

[3, 8, 'Hello', ['Wow', 7]]

In [32]:
# We could convert a string to a list by using str.split() **********
"Hello World".split() # splitting every single words inside the string

['Hello', 'World']

In [34]:
"2 3 4 5 6".split() # each word separeted by space

['2', '3', '4', '5', '6']

In [35]:
"23456".split()  # no space, it is one word

['23456']

In [36]:
A= " hello, Elena, 9 years old"
A.split(",")  # split the words separented by comma ,

[' hello', ' Elena', ' 9 years old']

In [39]:
B= " hello! Elena, 9 years old, I love you! "
C=B.split("!")  # split the words after ! 
print(C)

[' hello', ' Elena, 9 years old, I love you', ' ']

In [40]:
len(C)

3

In [41]:
help(C) # help on List

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [43]:
len(C)

3

In [2]:
L4= "I Love you"
L4_split=L4.split()
print(L4_split) # convert str into a list by space

['I', 'Love', 'you']

In [5]:
L5= "123456#Love#you"
L5_split=L5.split("#") # convert str by spliting #
L5_split

['123456', 'Love', 'you']

In [13]:
L6= ['123456', 'Love', 'you']
L6.append([3,"more"])  # using append to add one more element to the list L5
print(L6)

['123456', 'Love', 'you', [3, 'more']]

In [14]:
L6.extend([3,"more"])  # Use Extend to add  two elements to the list
L6

['123456', 'Love', 'you', [3, 'more'], 3, 'more']

In [15]:
type(L6)

list

In [16]:
type(L4)

str

In [18]:
L7= (2,3, "I love you" )
type(L7)

tuple

In [21]:
L8=sorted((2,5,6,0,6))
L8

[0, 2, 5, 6, 6]

In [22]:
L9=sorted([2,3,9,1,5,0])
L9

[0, 1, 2, 3, 5, 9]

In [24]:
squares=[]
# for x in L9 cube it
squares=[x**2 for x in L9]
squares

[0, 1, 4, 9, 25, 81]

In [25]:
import math
math.sqrt(25)

5.0

In [27]:
sqare_root=[]
square_root=[math.sqrt(x) for x in [0, 1, 4, 9, 25, 81]]
square_root

[0.0, 1.0, 2.0, 3.0, 5.0, 9.0]

In [28]:
math.log(100)

4.605170185988092

In [53]:
math.exp(2)  # e^2=? e^0=1 e^1= 2.718281828459045

7.38905609893065

In [31]:
math.log(2,4) # 4^1/2= 2

0.5

In [32]:
math.log(10,2) # 2^3.4 = 10

3.3219280948873626

In [54]:
math.floor(78565.736453276583765387245)

78565

In [56]:
math.ceil(27.27)

28

In [80]:
math.pi

3.141592653589793

In [89]:
math.cos(math.pi)

-1.0

In [94]:
math.gcd(56,4)

4

In [96]:
math.remainder(25,4)

1.0

In [98]:
math.pow(2,3) # 2^3 math.pow(x,y)=x^y

8.0

In [99]:
math.copysign(-4,5)

4.0

In [100]:
math.copysign(6,-3) # math.copysign(x,y) copy the sign of y to x

-6.0

In [101]:
math.fabs(-4)  # math.fabs(x) = the absolute value of x

4.0

In [102]:
math.factorial(4) # 4! =4x3x2x1

24

SyntaxError: invalid syntax (<ipython-input-105-d71aa03aac5d>, line 1)