In [ ]:
# A set in Python is defined as "an unordered collection of unique elements" in a {}. 
# And if you declare a set like a = {1,2,2,3,4} it will only add 2 once to the set.

In [ ]:
# Python also includes a data type for sets. 
# A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries.
# Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [3]:
# Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {};
# the latter creates an empty dictionary, a data structure that we discuss in the next section
a =(2,3,4,5,6,6)
set(a)

{2, 3, 4, 5, 6}

In [4]:
a={'ELena','is','good'}
type(a)

set

In [5]:
b=('ELena','is','good')
type(b)

tuple

In [6]:

c=(1,2,3,4)
type(c)

tuple

In [8]:
d=[1,2,3,4,5,6,6]
type(d)

list

In [12]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed
#{'orange', 'banana', 'pear', 'apple'}
'orange' in basket                 # fast membership testing
#True
'crabgrass' in basket
#False

 # Demonstrate set operations on unique letters from two words
...
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a
#{'a', 'r', 'b', 'c', 'd'}
a - b                              # letters in a but not in b
#{'r', 'd', 'b'}
a | b                              # letters in a or b or both
#{'a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'}
a & b                              # letters in both a and b
#{'a', 'c'}
a ^ b                              # letters in a or b but not both
# {'r', 'd', 'b', 'm', 'z', 'l'}

{'banana', 'pear', 'orange', 'apple'}

{'b', 'd', 'l', 'm', 'r', 'z'}

In [11]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'pear', 'orange', 'apple'}

In [13]:
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [29]:
# Sets comprehension is similar to lists comprehension
# Example: create a list quares:

squares_list= []
for x in range(10):
    squares_list.append(x**2)

squares_list
#0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
type(squares_list)

list

In [21]:
squares = []
#for x in range(10):
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
# ceate a set squares:
squares = {}
#for x in range(10):
squares = {x**2 for x in range(10)}
squares

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [24]:
Create a set squares
squares = {}
#for x in range(10):
squares = {x**2 for x in range(10)}
squares

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [25]:
type(squares)

set

In [46]:
# finding pi 
from math import pi
a={str(round(pi, i)) for i in range(1, 6)}
# ['3.1', '3.14', '3.142', '3.1416', '3.14159']
a

{'3.1', '3.14', '3.14159', '3.1416', '3.142'}

In [52]:
#convert list to set
b=list(a)
b

['3.142', '3.14159', '3.1', '3.14', '3.1416']

In [53]:
b[1]

'3.14159'

In [54]:
#convert list to set
m=[3,4,5,6,7,8,8]
n=set(m)
n

{3, 4, 5, 6, 7, 8}